{% extends 'base.html' %} 

{% block title %}About Me{% endblock %}
{% block customCSS %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block body %}
<br>
<body> 
    <br>
<div class="container">
        <div class="row text-dark text-center ">
        <div class='display-6 fw-bold'>
        <p class='mb-5'>
            In order to have access to my personal information located at the privacy and resume tags, you must send an email to pythonwebdesign@gmail.com  after this you can have a user name and password send to you.</br>
            This website was created with the latest technologies, innovation and creativity, for a few months in a row and several hours per day to develop this site I faced different issues comming one after the other but as an enthusiastic of programin and learnig development I was able to accomplish my goal. Thanks to my family for their support and comprehension, to my mother and two brothers.
        </div>
        </p>
    </div>
    </div>
</body>

{% endblock %}